
<router-outlet></router-outlet>
<div class="h-100vh">
  <div [ngClass]="showHeight?'page1':'page'">
    <div class="page-single">
      <div class="container">
        <div class="row mt-2">
          <div class="col mx-auto">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="card ">
                  <div class="card-header  d-flex bg-white">
                    <div class="">
                      <a [href]="url"> <img src="assets/logo.png" alt="Image logo"></a>
                    </div>
                    <div class="text-center mt-1   col-sm-6">
                      <h1> Challenge title</h1>
                    </div>
                  </div>
                  <div class="card-body d-flex align-items-center justify-content-center">
                    <app-card-lists ></app-card-lists>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
